upstream backend {
  ; {{ load_balancing_method }};
    {% for server in backend_servers %}
    server {{ server.address }}:{{ server.port }};
    {% endfor %}
}

server {
    listen {{ load_balancer_port }};
    location / {
        proxy_pass http://backend;
    }
}